body {
  font-family: "Work Sans", sans-serif;
  padding: 5px;
}

.nav-link {
  color: white !important;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

.p-font {
  font-size: 1.5rem;
  font-family: "Work Sans", sans-serif;
}

.whats-icon {
  position: fixed;
  top: 140px;
  right: 70px;
  width: 60px;
  height: auto;
}
